.mid {
	text-align: center;
	margin-top: 60px;
}
/* .flex {
	display: flex;
	margin-top: 50px;
} */
.btn {
	margin: 70px 660px;
	height: 60px;
	width: 200px;
	border: 1px solid #d1b561;
	color: #d1b561;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 255);
	font-size: 18px;
}

@media (max-width: 900px) {
	.flex {
		display: unset;
		margin-top: 30px;
	}
	/* .img {
		margin-left: 15%;
	} */
	.btn {
		margin-left: 30%;
	}
}
